
@{
    ViewBag.Title = "ReportHome";
}

<h2>ReportHome</h2>

<div>
    @Html.ActionLink("Song Report", "SongReport", "Purchases", new { @class = "btn btn-success" })
</div>

<div>
    @Html.ActionLink("Album Report", "AlbumReport", "Purchases", new { @class = "btn btn-success" })
</div>
